In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.axes as ax

In [7]:
data = pd.read_csv('train.csv')

In [8]:
data.head(10)

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984
5  36.0  32.463875
6  12.0  10.780897
7  81.0  80.763399
8  25.0  24.612151
9   5.0   6.963319

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

# Data Preprocessing

### Handling NULL Value

In [14]:
data = data.dropna(axis=0)

In [15]:
data.shape

(699, 2)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       699 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 16.4 KB

### Splitting data

In [18]:
train_input = np.array(data.x[0:500]).reshape(500, 1)
train_output = np.array(data.y[0:500]).reshape(500, 1)

test_input = np.array(data.x[500:700]).reshape(199, 1)
test_output = np.array(data.y[500:700]).reshape(199, 1)

In [19]:
train_input.shape

(500, 1)

In [20]:
train_output.shape

(500, 1)

In [21]:
test_input.shape

(199, 1)

In [22]:
test_output.shape

(199, 1)

# Linear Regression

## Train the Data

### Sequence of steps
<ul> <li>Forward Propogation</li>
     <li>Cost Function</li>
     <li>Backward Propogation</li>
     <li>Update Parameters</li>
</ul>

## Forward Propogation

f(x)=m*x+c; where m and c are the parameters that our model will learn through training

In [23]:
def forward_propogation(train_input, parameters):
    m=parameters['m']
    c=parameters['c']
    
    predictions = np.multipy(m, train_input) + C
    return predictions

## Defining Cost Function

### Mean Squared Error, Cost = [(y-f(x))^2]*2n

where y are the actual or true values and the predicted values

In [24]:
def cost_function(predictions, train_output):
    cost = np.mean((predictions - train_output)**2)*0.5
    return cost